<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Program7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Prog7</display-name>
    <servlet-name>Prog7</servlet-name>
    <servlet-class>programs.Prog7</servlet-class>
    <init-param>
      <param-name>Sneha</param-name>
      <param-value>sneha</param-value>
    </init-param>
    <init-param>
      <param-name>Aishu</param-name>
      <param-value>Aishu</param-value>
    </init-param>
    <init-param>
      <param-name>Gayatri</param-name>
      <param-value>Gayatri</param-value>
    </init-param>
    <init-param>
      <param-name>Snehaaa</param-name>
      <param-value>snehaa</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prog7</servlet-name>
    <url-pattern>/Prog7</url-pattern>
  </servlet-mapping>
</web-app>